body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #e0e0e0;

}
main{
    display: flex;
    justify-content: center;
}
.tela{
    margin-top: 20px;
}
input, button{
    padding: 5px;
    border: 1px solid black;
}
button{
    border-radius: 5px;
    background-color: rgba(251, 255, 12, 0.4);
}
button:hover{
    transition: 300ms;
    background-color: rgba(251, 255, 12, 0.8);
}
#dados{
    display: none;
    /* background-color: yellow; */
    background-color: rgba(251, 255, 12, 0.7);
}
.dados-interior{
    padding: 5px 5px 5px 5px;
    margin-top: 100px;
}
.titulo{
    text-align: center;
}
.areaInput{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
